@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/****** VARIABLES ******/

:root{
  --main-color: #c14040;
  --secondary-color: #202c64;
  --main-text-color: white;
}

/****** MAIN STYLE ******/

body{
  font-family: 'Bree Serif', serif;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.2rem;
}

.container{
  padding: 30px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  height: 100vh;
  overflow: auto;
}

header{
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  background-color: #efe3e3;
  border-radius: 25px;
}

header a{
  color: var(--main-color);
}

nav li{
  color: var(--main-color);
  vertical-align: bottom;
  display: inline-block;
  margin: 0 5px;
}

.filter__top{
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transform-origin: bottom;
  animation: filterTop 250ms forwards;
}

.filter__top input{
  border-radius: 5px;
  border: 1px solid var(--main-color);
  height: 20px;
  padding: 5px;
}

@keyframes filterTop {
  0%{
    transform: scaleY(0);
  }
  80%{
    transform: scaleY(1.1);
  }
  100%{
    transform: scaleY(1);
  }
}

.show__filters{
  cursor: pointer;
  color: var(--main-color);
}

.filter__bottom{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
  transform-origin: top;
  animation: filterBottom 250ms forwards;
}

.filter__bottom a{
  color: white;
  transition: all 150ms ease;
}

.filter__bottom a:hover{
  transform: scale(1.1);
}

@keyframes filterBottom {
  0%{
    transform: scaleY(0);
  }
  80%{
    transform: scaleY(1.1);
  }
  100%{
    transform: scaleY(1);
  }
}

#pokeType{
  background-color: green;
  padding: 5px 20px;
  border-radius: 5px;
}

.remove__filter{
  position: absolute;
  right: -150px;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container__thumbnails{
  justify-content: center;
}

.container__list{
  display: none;
  justify-content: center;
  animation: cardsContainerList 150ms forwards;
}

.container__list ul{
  width: 100%;
}

@keyframes cardsContainerList {
  0%{
    transform: scaleX(0.6);
  }
  100%{
    transform: scaleX(1);
  }
}

.card{
  background-color: #982c2c;
  transition: all 200ms ease-in-out;
}

.card:hover{
  background-color: #e24242;
  transform: scale(1.1);
}

.card:hover img{
  transform: scale(1.15);
}

.card:hover .poke__name__numero{
  transform: scale(1.2);
}

.card img{
  width: 100%;
  transition: all 250ms ease-in-out;
}

.card__thumbnails{
  cursor: pointer;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
}

.card__list{
  width: 40%;
  margin: 10px auto;
  border-radius: 5px;
}

.card__list a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card__list img{
  width: 5%;
}

.poke__name__numero{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  z-index: 1;
  transition: all 150ms ease-in-out;
}

.poke__name__title,
.back__to__main{
  color: white;
  text-align: center;
}

.back__to__main{
  font-size: 4rem;
  cursor: pointer;
}

.back__to__main i{
  transition: all 200ms ease
}

.back__to__main i:hover{
  transform: rotate(-270deg);
}

.poke__details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  color: white;
}

.poke__img{
  width: 30%;
  text-align: center;
}

.poke__img img{
  width: 100%;
}

.poke__infos{
  position: relative;
  background-color: #ab3838;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 20px;
  /* animation: loadPokeInfos 200ms forwards; */
}

/* @keyframes loadPokeInfos {
  0%{
    transform: scaleX(0.9);
  }
  100%{
    transform: scaleX(1);
  }
} */

.poke__to__deck i{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  background-color: #c14040;
  padding: 5px 50px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0 10px 0 50px;
  transition: all 100ms ease-in-out;
}

.poke__to__deck i:hover{
  border: 2px solid white;
  border-radius: 0 10px 0 10px;
}

.poke__infos__name__numero{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.poke__stats__table{
  width: 100%;
}

.poke__stats__table td{
  padding: 5px;
  height: 30px;
  vertical-align: middle;
}

.slider__td{
  width: 60%;
}

.stat__slider__container{
  cursor: pointer;
  background-color: #632b2b;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.stat__slider__container:hover{
  height: 110%;
}

.stat__slider{
  background-color: white;
  width: 20%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.poke__types{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.poke__type__container{
  cursor: pointer;
  background-color: #632b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid rgba(221, 221, 221, 0);
  transition: all 150ms ease-in-out;
}

.poke__type__container:hover{
  border: 1px solid #ddd;
  /* transform: scale(1.1); */
}

.tooltip {
  display:none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.poke__type__container:hover .tooltip{
  display: block;
  position: fixed;
  overflow: hidden;
}

.poke__types img{
  width: 50px;
}

/******* DECK ********/

.deck__container{
  width: 100%;
  height: calc(100vh - 150px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

/******* DECK__LIST ********/

.deckList{
  background-color: var(--secondary-color);
  flex-grow: 1;
  min-width: 250px;
  padding: 20px 20px;
  /* border: 10px solid rgb(0, 0, 110); */
  overflow: auto;

}

.deckList ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.deckList li{
  height: 50px;
  line-height: 50px;
  padding: 10px 15px;
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.deckList li:hover{
  border: 1px solid white;
  box-shadow: inset 0px 0px 25px 5px rgba(255, 255, 255, 0.6);
}

.deckList input{
  /* height: 100%; */
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
}

.add__deck{
  text-align: center;
}

/******* DECK__FILTER ********/

.deck__filter{
  background-color: var(--secondary-color);
  flex-grow: 3;
  /* max-width: 250px; */
  min-width: 250px;
  padding: 20px 20px;
  color: white;
}

.deck__filter hr{
  margin: 10px 0;
}

.deck__filter__icon{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.deck__filter__icon img{
  width: 50px;
}

.card__name input{
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: #ddd;
  padding: 0 10px;
}

#cardLevelSlider{
  width: 100%;
  height: 20px;
  background-color: var(--main-color);
}

.card__types ul{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card__types li,
.card__rarity li{
  cursor: pointer;
  width: 30%;
  padding: 5px 40px 5px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 80ms ease-in-out;
}

.card__types li:hover,
.card__rarity li:hover{
  background-color: rgb(0, 118, 0);
}

.card__types li:active,
.card__rarity li:active{
  background-color: rgb(0, 118, 0);
  border: 1px solid rgb(255, 255, 255);;
}


/******* DECK CARDS LIST ********/

.deck__cards{
  background-color: red;
  /* flex-grow: 2; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 25px 25px;
}

/******* DECK CARD ********/

.poke__name,
.poke__numero{
  text-align: center;
}

.card__deck{
  background-color: #982c2c;
  cursor: pointer;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  transform: scale(1);
  perspective: 600px;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 350ms ease-out;
  filter: brightness();
}

.card__deck:hover {
  z-index: 10;
  border: 1px solid white;
  background-color: #e24242;
  transform: scale(1.1);
  /* transform: scale(1.1); */
}

.card__deck__img img{
  width: 100%;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.card__deck:hover .card__deck__img img{
  transform: scale(1.25);
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}

.card__deck:hover .add__to__deck i{
  opacity: 1;
}

.deck__type__container img{
  width: 100%;
}

.card__deck a{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}

.deck__types{
  display: flex;
  flex-direction: column;
}

.deck__stats__left{
  position: absolute;
  left: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deck__stats{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deck__card__stat{
  display: flex;
  gap: 10px;
}

.deck__type__container{
  cursor: pointer;
  background-color: #632b2b00;
  margin-bottom: 5px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(221, 221, 221, 0);
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
}

.deck__tooltip {
  display:none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  z-index: 2;
}

.deck__tooltip h3{
  font-size: 1em;
}

.deck__type__container:hover .deck__tooltip{
  display: block;
}

.add__to__deck{
  position: absolute;
}

.add__to__deck i{
  opacity: 0;
  font-size: 5em;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/******* LOGIN ********/

.container__body{
  background-color: #c14040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__container,
.signup__container{
  text-align: center;
  background-color: #efe3e3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--main-color);
  gap: 30px;
  border-radius: 25px;
  padding: 25px 25px;
}

.header__login,
.header__signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #efe3e3;
}

.main__login,
.main__signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.main__login a{
  color: var(--main-color);
}

.main__login a:hover{
  color: #aaa;
}

#loginForm,
#signupForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.loginBtn,
.signupBtn{
  cursor: pointer;
  border: none;
  font-size: 0.9em;
  background-color: black;
  color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

.loginBtn:hover,
.signupBtn:hover{
  color:#c14040;
  background-color: #bbb;
}

.login,
.signup{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login input,
.signup input{
  height: 25px;
  padding-left: 10px;
  width: 100%;
}

/******* HOME ********/

.main__home{
  color: white;
  margin: 0 auto;
  display: grid;
  width: 70%;
  height: 80%;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  /* grid-gap: 1rem; */
  grid-template-areas: 
    'game game deck'
    'game game deck'
    'game game cardShop'
    'game game cardShop';
}

.game__link,
.deck__link,
.card__shop__link{
  padding: 10px;
  backdrop-filter: saturate(150%) blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.game__link:hover,
.deck__link:hover,
.card__shop__link:hover{
  backdrop-filter: saturate(150%) blur(50px);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.game__link:hover h2,
.deck__link:hover h2,
.card__shop__link:hover h2{
  animation: linkTitleAnim 500ms forwards;
}

@keyframes linkTitleAnim {
  0%{
    transform: translateY(0);
  }
  10%{
    transform: translateY(10px);
  }
  60%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

.game__link{
  border-radius: 20px 0 0 20px;
  grid-area: game;
}

.deck__link{
  border-radius: 0 20px 0 0;
  grid-area: deck;
}

.card__shop__link{
  border-radius: 0 0 20px 0;
  grid-area: cardShop;
}

/******* PROFILE ********/

.main__profile{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile__infos__container{
  display: flex;
  align-items: center;
  gap: 2em;
}

.profile__avatar img{
  background-color: #982c2c2a;
  border-radius: 50%;
  width: 8em;
}

.profile__infos{
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.profile__infos i:hover{
  cursor: pointer;
  color: white;
}

.profile__stats__container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8em;
  padding: 30px;
  border-radius: 20px;
  height: 500px;
  background-color: rgba(25, 25, 73, 0.367);
}

.games__stats,
.cards__stats,
.cards__game{
  display: flex;
  justify-content: flex-start;
  gap: 10em;
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

.played__cards,
.played__types{
  display: flex;
  gap: 0.8em;
}

.played__cards img,
.played__types img{
  width: 40px;
  background-color: rgba(255, 0, 0, 0.301);
  padding: 10px;
  border-radius: 50%;
}

.card__most__played img{
  width: 200px;
}

/******** ADMIN ********/

.main__admin{
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: all 0.3s ease-in-out;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
} 

.tabcontent__container{
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 0 0 20px 20px ;
  height: 500px;
  background-color: rgba(25, 25, 73, 0.367);
}