@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

/*******************************************/
/****** VARIABLES ******/

:root {
  --main-color: #c14040;
  --secondary-color: #F9844A;
  --secondary-hover-color: #a4745f;
  --tertiary-color: #4D908E;
  --tertiary-hover-color: #4D908E;
  --fourth-color: #aa3838;
  --fifth-color: #ccc;
  --main-text-color: #fff;
  --main-text-hover-color: #c14040;
  --secondary-text-color: #c14040;
  --secondary-text-hover-color: #F94144;
}

/*******************************************/
/****** MAIN STYLE ******/


body {
  font-family: "Bree Serif", serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  height: 100vh;
  overflow: auto;
  transition: all 150ms ease;
}

.container--scroll{
  padding: 0;
}

/*******************************************/
/****** COLORS ******/

.container{
  background-color: var(--main-color);
}

/****** COLORS-HEADER ******/
/****** COLORS-LOGIN ******/
.container__body {
  background-color: var(--main-color);
}

header,
header a,
.login__container,
.login__container a,
.signup__container {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.login__container a:hover{
  color: var(--main-text-color);
}

.loginBtn,
.signupBtn {
  background-color: var(--tertiary-color);
  color: var(--main-text-color);
}

.loginBtn:hover,
.signupBtn:hover {
  color: var(--secondary-color);
}

/****** COLORS-HOME ******/
.game__link,
.deck__link,
.card__shop__link {
  background-color: var(--fourth-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--main-text-color);
}

.game__link:hover,
.deck__link:hover,
.card__shop__link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/****** COLORS-FILTER ******/
.cardType:hover,
.cardRank:hover {
  background-color: var(--secondary-color);
}

.cardType-active{
  background-color: var(--main-color)
}

/****** COLORS-CARD-PAGE ******/
.poke__infos{
  background-color: var(--fourth-color);
}

.poke__name__title,
.poke__details,
.poke__details i,
.back__to__main i{
  color: var(--main-text-color);
}

.poke__to__deck i{
  background-color: var(--main-color);
}

.poke__types .tooltip{
  background-color: rgba(0, 0, 0, 0.4);
}

.stat__slider__container{
  background-color: var(--main-color);
}

.stat__slider{
  background-color: var(--main-text-color);
}

/****** COLORS-DECK ******/
.deckList,
.deck__filter{
  background-color: var(--tertiary-color);
  color: var(--main-text-color);
}

.card,
.card > a{
  background-color: var(--fourth-color);
  color: var(--main-text-color);
}

.card__deck:hover {
  background-color: var(--main-color);
}

.deck-item,
.deck-fixed,
.deck__card {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}

.deckList i,
.deckList input{
  color: var(--main-text-color);
  background-color: transparent;
}

.deckList li:hover,
.deck__card:hover {
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 25px 5px rgba(255, 255, 255, 0.6);
}

/****** COLORS-DECK-CARDS ******/
.deck__cards *{
  color: var(--main-text-color);
}

.card__top .deleteBtn:hover{
  color: var(--secondary-color);
}

.deck__tooltip {
  background-color: rgba(0, 0, 0, 0.4);
}

.card__deck__list{
  background-color: rgba(249,	132,	74, 0.4)
}

.card__deck__list li:hover{
  background-color: var(--secondary-color);
}



/****** COLORS-PROFILE ******/
.profile__avatar img {
  background-color: var(--secondary-color);
}

.profile__infos i:hover {
  color: var(--main-text-color);
}

.profile__stats__container {
  background-color: rgba(25, 25, 73, 0.367);
}

/****** COLORS-ADMIN ******/
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: all 0.3s ease-in-out;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent__container {
  background-color: rgba(25, 25, 73, 0.367);
}

/*******************************************/
/****** HEADER ******/

header {
  position: sticky;
  top: 0;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  border-radius: 25px;
  z-index: 5;
  transition: all 150ms ease;
}

.header--scroll{
  border-radius: 0;
}

nav li {
  vertical-align: bottom;
  display: inline-block;
  margin: 0 5px;
}

/*******************************************/
/****** CARD SHOP ******/

.card__shop__container{
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  gap: 20px;
} 

.filters .deck__filter{
  position: sticky;
  top: 95px;
}

.container__thumbnails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.container__list {
  display: none;
  flex-grow: 1;
  justify-content: center;
  animation: cardsContainerList 150ms forwards;
}

.container__list ul {
  width: 100%;
}

@keyframes cardsContainerList {
  0% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(1);
  }
}

.card {
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover img {
  transform: scale(1.15);
}

.card:hover .poke__name__numero {
  transform: scale(1.2);
}

.card img {
  width: 100%;
  transition: all 250ms ease-in-out;
}

.card__thumbnails {
  cursor: pointer;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
}

.card__list {
  width: 40%;
  margin: 10px auto;
  border-radius: 5px;
}

.card__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card__list img {
  width: 5%;
}

.poke__name__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  transition: all 150ms ease-in-out;
}

.poke__name__title,
.back__to__main {
  text-align: center;
}

.back__to__main {
  font-size: 4rem;
  cursor: pointer;
}

.back__to__main i {
  transition: all 200ms ease;
}

.back__to__main i:hover {
  transform: rotate(-270deg);
}

.poke__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.poke__img {
  width: 30%;
  text-align: center;
}

.poke__img img {
  width: 100%;
}

.poke__infos {
  position: relative;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 20px;
}

.poke__to__deck i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  padding: 5px 50px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0 10px 0 50px;
  transition: all 100ms ease-in-out;
}

.poke__to__deck i:hover {
  border: 2px solid white;
  border-radius: 0 10px 0 10px;
}

.poke__infos__name__numero {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.poke__stats__table {
  width: 100%;
}

.poke__stats__table td {
  padding: 5px;
  height: 30px;
  vertical-align: middle;
}

.slider__td {
  width: 60%;
}

.stat__slider__container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.stat__slider__container:hover {
  height: 110%;
}

.stat__slider {
  width: 20%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.poke__types {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.poke__type__container {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid rgba(221, 221, 221, 0);
  transition: all 150ms ease-in-out;
}

.poke__type__container:hover {
  border: 1px solid #ddd;
}

.tooltip {
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.poke__type__container:hover .tooltip {
  display: block;
  position: fixed;
  overflow: hidden;
}

.poke__types img {
  width: 50px;
}

/*******************************************/
/******* DECK ********/

.deck__container {
  width: 100%;
  height: calc(100vh - 150px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

/*******************************************/
/******* DECK__LIST ********/

.deckList {
  flex-grow: 1;
  min-width: 250px;
  max-width: 250px;
  padding: 20px 20px;
  overflow: auto;
}

.deckList ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.deck-item,
.deck-fixed,
.deck__card {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.deckList input {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2em;
}

.deck__card{
  position: relative;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}

.deck__card__list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add__deck__icons{
  position: absolute;
  top: -15px;
  right: 5px;
  display: flex;
  gap: 5px;
  padding: 0;
}

.add__deck__icons a{
  display: inline;
}

.add__deck__icons .fa-pen{
  font-size: 0.9em;
  cursor: pointer;
}

.add__deck__icons .fa-xmark{
  font-size: 1.1em;
  cursor: pointer;
}

.deck__icons{
  position: absolute;
  top: -5px;
  right: 5px;
}

.add__deck {
  text-align: center;
}

/*******************************************/
/******* DECK__FILTER ********/

.deck__filter {
  flex-grow: 3;
  max-width: 250px;
  min-width: 250px;
  padding: 20px 20px;
}

.deck__filter hr {
  margin: 10px 0;
}

.deck__filter__icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.deck__filter__icon img {
  width: 50px;
}

.card__name input {
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

.cardLevel{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cardLevelSlider {
  display: flex;
  gap: 10px;
}

.card__types ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cardType,
.cardRank {
  cursor: pointer;
  width: 30%;
  padding: 5px 40px 5px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 80ms ease-in-out;
}

.card__rank,
.card__level{
  display: none;
}

/*******************************************/
/******* DECK CARDS LIST ********/

.deck__cards {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 45px;
  padding: 25px 25px;
}

/*******************************************/
/******* DECK CARD ********/

.poke__name,
.poke__numero {
  text-align: center;
}

.card__deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  transform: scale(1);
  perspective: 600px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 350ms ease-out;
  filter: brightness();
  cursor: pointer;
}

.card__deck:hover {
  z-index: 10;
  border: 1px solid white;
  transform: scale(1.1);
}

.card__deck__img img {
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 250ms ease-in-out;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  z-index: -1;
}

.card__deck:hover .card__deck__img img {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.7));
}

.card__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__top--dummy{
  width: 10px;
}

.card__top .deleteBtn{
  z-index: 5;
}

.card__middle{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.deck__type__container img {
  width: 100%;
}

.deck__types {
  display: flex;
  flex-direction: column;
}

.deck__stats__left {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deck__stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deck__card__stat {
  display: flex;
  gap: 10px;
}

.deck__type__container {
  cursor: pointer;
  margin-bottom: 5px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(221, 221, 221, 0);
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
}

.deck__tooltip {
  display: none;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  z-index: 2;
}

.deck__tooltip h3 {
  font-size: 1em;
}

.deck__type__container:hover .deck__tooltip {
  display: block;
}

.card__deck:hover .add__to__deck i {
  opacity: 1;
}

.add__to__deck {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.add__to__deck i {
  opacity: 0;
  font-size: 5em;
  display: inline;
}

.card__deck__list{
  text-align: center;
  padding: 10px;
  width: 100%;
  opacity: 0;
  border-radius: 5px;
}

/*******************************************/
/******* LOGIN ********/

.container__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__container,
.signup__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  border-radius: 25px;
  padding: 25px 25px;
}

.header__login,
.header__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main__login,
.main__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

#loginForm,
#signupForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.loginBtn,
.signupBtn {
  cursor: pointer;
  border: none;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 5px 10px;
}

.login,
.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login input,
.signup input {
  height: 40px;
  padding-left: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

/*******************************************/
/******* HOME ********/

.main__home {
  margin: 0 auto;
  display: grid;
  width: 70%;
  height: 80%;
  grid-template-areas:
    "game game deck"
    "game game deck"
    "game game cardShop"
    "game game cardShop";
}

.game__link,
.deck__link,
.card__shop__link {
  padding: 10px;
  /* backdrop-filter: saturate(150%) blur(10px); */
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

/* .game__link:hover,
.deck__link:hover,
.card__shop__link:hover {
  backdrop-filter: saturate(0%) blur(50px);
} */

.game__link:hover h2,
.deck__link:hover h2,
.card__shop__link:hover h2 {
  animation: linkTitleAnim 500ms forwards;
}

@keyframes linkTitleAnim {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.game__link {
  border-radius: 20px 0 0 20px;
  grid-area: game;
}

.deck__link {
  border-radius: 0 20px 0 0;
  grid-area: deck;
}

.card__shop__link {
  border-radius: 0 0 20px 0;
  grid-area: cardShop;
}

/*******************************************/
/******* PROFILE ********/

.main__profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 1200px;
}

.profile__infos__container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.profile__avatar img {
  border-radius: 50%;
  width: 8em;
}

.profile__infos {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.profile__avatar img {
  border-radius: 50%;
  width: 8em;
}

.profile__infos i:hover {
  cursor: pointer;
}

.profile__stats__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8em;
  padding: 30px;
  border-radius: 20px;
  height: 500px;
}

.games__stats,
.cards__stats,
.cards__game {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

.card__most__played img {
  width: 200px;
}

/*******************************************/
/******** ADMIN ********/

.main__admin {
  display: flex;
  flex-direction: column;
}

.tab {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: all 0.3s ease-in-out;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.tabcontent__container {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  height: 500px;
}

/*******************************************/
/******** GLOBAL ********/

.is-hidden{
  display: none;
}

.drag-over {
  border: dashed 3px red;
}
