<article class="deck__filter">
  <h2>Filtres</h2>

  <hr>

  <section class="card__name">
    <input type="text" name="cardName" id="deckCardName" placeholder="Entrez un nom de Pokemon">
  </section>

  <hr>

  <section id="card__InDeck">
    <div id="cardInDeck">
      <label>In deck :</label>
      <input type="checkbox" />
    </div>
  </section>

  <section id="card__NotInDeck">
    <div id="cardNotInDeck">
      <label>Not in deck :</label>
      <input type="checkbox" />
    </div>
  </section>

  <hr>

  <!-- <section class="cardLevel">
    <div id="cardLevelSlider">
      <label for="level">Niveau :</label>
      <div class="level__value"></div>
    </div>
    <input type="range" id="levelSlider" name="level" min="0" max="100" value="0">
  </section>

  <hr> -->

  <section class="card__types">
    <ul>
      <li class="cardType"><h3>Acier</h3></li>
      <li class="cardType"><h3>Combat</h3></li>
      <li class="cardType"><h3>Dragon</h3></li>
      <li class="cardType"><h3>Eau</h3></li>
      <li class="cardType"><h3>Electrik</h3></li>
      <li class="cardType"><h3>Feu</h3></li>
      <li class="cardType"><h3>Glace</h3></li>
      <li class="cardType"><h3>Insecte</h3></li>
      <li class="cardType"><h3>Normal</h3></li>
      <li class="cardType"><h3>Plante</h3></li>
      <li class="cardType"><h3>Poison</h3></li>
      <li class="cardType"><h3>Psy</h3></li>
      <li class="cardType"><h3>Roche</h3></li>
      <li class="cardType"><h3>Sol</h3></li>
      <li class="cardType"><h3>Spectre</h3></li>
      <li class="cardType"><h3>Ténèbres</h3></li>
      <li class="cardType"><h3>Vol</h3></li>
    </ul>
  </section>

  <hr>

  <section class="card__ranks">
    <ul>
      <li class="cardRank"><h3>Commune</h3></li>
      <li class="cardRank"><h3>Rare</h3></li>
      <li class="cardRank"><h3>Epique</h3></li>
      <li class="cardRank"><h3>Légendaire</h3></li>
    </ul>
  </section>

  <section class="deck__filter__icon">
    <img src="/icons/Poké_Ball_icon.svg" alt="poke_ball icon">
  </section>
  
</article>