<%- include('./partials/header') %> 
  </header>
  <main class="main__home">
    <a href="/game" class="game__link">
      <h2>GAME</h2>
    </a>
    <a href="/cards" class="card__shop__link">
      <h2>CARD SHOP</h2>
    </a>
    <a href="/deck" class="deck__link">
      <h2>DECK</h2>
    </a>
  </main>

</div>

<script src="/js/home.js"></script>

<%- include('./partials/footer') %> 